<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>

    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <h2 class="title"> 글쓰기 </h2>

    <form action="/write" method="POST">
        
        <table>
        
            <tr> <td colspan="3" style="text-align: center;"> Title </td> </tr>
            <tr> <td> <input type="text" placeholder="제목을 입력하세요" name="title" class="title_input"> </td> </tr>
            <tr></tr>
            <tr> <td colspan="3" style="text-align: center;"> Comment </td></tr>
            <tr> <td> <textarea  name="comment"> </textarea> </td> </tr>
        
        </table>

        <!-- <input type="submit" value="등록" onclick="location.href='/index'"> -->

        <input type="submit" onclick="alert('작성 완료')", class="r_button", value="제출"> 
       
    </form>

    {{tititle}} <br>
    {{cocoment}}

    
</body>
</html>