<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post modify</title>

    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <body>
        <nav class="navbar">
          <div class="nav_logo">
            <i class="fa-solid fa-star"></i>
            <a href={{ url_for('home') }}>게시판</a>
          </div>
          <ul class="nav_menu">
            <li><a href={{ url_for ('logout') }}>logout</a></li>
            <li><a href={{ url_for ('profile') }}>my profile</a></li>
          </ul>
        </nav>
      </body>

    <h2> 수정 </h2>

    <form method="post">

      <table>
      
          <tr> <td colspan="3"> Title </td> </tr>
          <tr> <td> <input type="text" placeholder="제목을 입력하세요" name="title" class="title_input" value="{{ a[1] }}"> </td> </tr>
          <tr></tr>
          <tr> <td colspan="3"> Comment </td></tr>
          <tr> <td> <textarea  name="contents"> {{ a[2] }} </textarea> </td> </tr>
      
      </table>

      <input type="submit" onclick="alert('수정 완료')", value="제출"> 
  </form>

    
</body>
</html>