<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret_view</title>

    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <body>
        <nav class="navbar">
          <div class="nav_logo">
            <i class="fa-solid fa-star"></i>
            <a href={{ url_for('home') }}>게시판</a>
          </div>
          <ul class="nav_menu">
            <li><a href={{ url_for ('logout') }}>logout</a></li>
            <li><a href={{ url_for ('profile') }}>my profile</a></li>
          </ul>
        </nav>
      </body>

    <h2> 비밀글 비밀번호 입력 </h2>

    <form method="POST">
        <table>
        
            <tr> <td colspan="3" style="text-align: center;"> password </td> </tr>
            <tr> <td> <input type="password" placeholder="비밀번호를 입력하세요" name="post_password" class="title_input"> </td> </tr>
        
        </table>
  
        <input type="submit", class="r_button", value="입력"> 
  
      </form>

    
</body>
</html>